#s-2c0df7a8-4115-4404-82c8-08e558e86bcb #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c0df7a8-4115-4404-82c8-08e558e86bcb #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2c0df7a8-4115-4404-82c8-08e558e86bcb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}