#s-45f42901-4cbc-4613-b435-261fc471ebd6 #s-title {
  -ms-transform: rotate(0.0deg);
}
#s-45f42901-4cbc-4613-b435-261fc471ebd6 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-45f42901-4cbc-4613-b435-261fc471ebd6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}