#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}