#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 {
  background-color: transparent;
  background-image: none;
  min-width: 643px;
  min-height: 273px;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-Label_1 {
  position: absolute;
  top: 244px;
  left: 504px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-title {
  position: absolute;
  top: 123px;
  left: 138px;
  width: 451px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 20pt;
  font-style: normal;
  font-weight: 700;
  line-height: 20pt;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-title .valign {
  vertical-align: middle;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-melding {
  position: absolute;
  top: 195px;
  left: 240px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-melding .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-melding input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-Label_2 {
  position: absolute;
  top: 244px;
  left: 504px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-bc61ecd0-0c03-43e1-b06d-bb5b7611af16 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}